
.task {
    padding: 5px 10px;
    margin-bottom: 10px;
    width: 300px;
    border: 5px solid black;
    cursor: pointer;
}

.task.isDone {
    background-color: orange;
}

.task.isSelected {
    border-color: #747bff;
}

.isDoneTitle {
    text-decoration: line-through;
}